body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(90deg, rgb(26, 7, 7), rgb(35, 19, 73), rgb(39, 10, 10));
    background-attachment: fixed;
    animation: bodyANN 10s infinite ease-in alternate;
    background-size: 400%;
}
@keyframes bodyANN {
    0% {
        background-position: left;
    } 100% {
        background-position: right;
    }
}